.is-pointer {
  cursor: pointer;
}

.is-fullheight {
  height: 100%;
  min-height: 100vh;
}

.is-justify-content-flex-end {
  justify-content: flex-end;
}

.is-justify-content-flex-center {
  justify-content: center;
}

.login-form {
  width: 100%;
}